<div class="executor clearfix">
  <ul class="single-column">
    <li class="little-ball last-ball">
      <span class="pie">1</span>
    </li>
  </ul>
  <ul class="single-column middle">
    <li class="little-ball last-ball">
      <span class="pie">6,4</span>
    </li>
  </ul>
  <ul class="single-column last">
    <li class="little-ball last-ball">
      <span class="pie">1/2</span>
    </li>
  </ul>
  <ul class="middle-column">
    <li class="little-ball first-ball">
      <span class="pie">1/2</span>
    </li>
    <li class="little-ball">
      <span class="pie">1</span>
    </li>
    <li class="little-ball last-ball">
      <span class="pie last-ball">6,4</span>
    </li>
  </ul>
  <ul class="first-column">
    <li class="little-ball first-ball">
      <span class="pie">1</span>
    </li>
    <li class="little-ball middle-ball">
      <span class="pie">1, 3, 6</span>
    </li>
    <li class="little-ball last-ball">
      <span class="pie">3, 7</span>
    </li>
  </ul>
  <svg class="dots-net"></svg>
</div>

