<div class="executor clearfix">
  <ul class="single-column first">
    <li class="little-ball last-ball">
      <span class="pie" data-fill='["transparent"]'>1</span>
    </li>
  </ul>
  <ul class="single-column middle">
    <li class="little-ball last-ball">
      <span class="pie" data-fill='["#F75A4E", "#F9E5E4"]'>6,4</span>
    </li>
  </ul>
  <ul class="single-column last">
    <li class="little-ball last-ball">
      <span class="pie" data-fill='["#FD1D07", "#F75A4E"]'>1/2</span>
    </li>
  </ul>
  <ul class="middle-column">
    <li class="little-ball first-ball">
      <span class="pie" data-fill='["#F9E5E4", "#FD1D07"]'>1/2</span>
    </li>
    <li class="little-ball">
      <span class="pie" data-fill='["#FEBBB4"]'>1</span>
    </li>
    <li class="little-ball last-ball">
      <span class="pie last-ball" data-fill='["#FD1D07", "#F75A4E"]'>6,4</span>
    </li>
  </ul>
  <ul class="first-column">
    <li class="little-ball first-ball">
      <span class="pie" data-fill='["#FFE8E6"]'>1</span>
    </li>
    <li class="little-ball middle-ball">
      <span class="pie" data-fill='["#9D2016", "#FD1D07", "#F75A4E"]'>1.1, 2.8, 6.1</span>
    </li>
    <li class="little-ball last-ball">
      <span class="pie" data-fill='["#F9E5E4", "#F75A4E"]'>3.7, 6.3</span>
    </li>
  </ul>
  <svg class="dots-net"></svg>
</div>

