<section class="step executor-body" id="executor-section" data-x="-570" data-y="-250" style="display: none;">
  <h1 class="clearfix">
    <i class="flag"></i>
    <strong>Realização</strong>
  </h1>
  <p>O mundo está mudando e, para acompanhar esta transformação, a palavra-chave é compartilhar.</p>

  <p>O <strong>TEDxRecife</strong> é fruto de um trabalho colaborativo entre pessoas e organizações que acreditam num mundo melhor. A cada manifestação <strong>TEDxRecife</strong>, mais e mais parceiros aumentam a rede de colaboração. Ampliam a voz de um grupo louco de recifenses que inicialmente se uniram para espalhar ideias transformadoras.</p>
</section>
