<% hide = false unless local_assigns.has_key? :hide %>

<section class="step contact-body content-section col-md-12" id="contact-section" data-x="-550" data-y="340" style="<%= hide ? 'display: none;' : '' %>">
  <h2 class="title clearfix">
    <i class="ballon"></i>
    <strong>Fale Conosco</strong>
  </h2>
  <p>Nós queremos falar com você. Envie sua dúvida, crítica ou sugestão. Contamos com a sua participação para melhorar cada vez mais o <strong>TEDxRecife</strong>.</p>

  <section class="press">
    <h4 class="title">
      <i class="press-icon"></i>
      Imprensa
    </h4>
    <div class="infos">
      <em>Tathiana Nunes</em>
      <br/>
      <em>Telefone: +55 81 9945-4692</em>
      <br/>
      <em>Email: <%= mail_to 'tathiannanunes@gmail.com', nil, class: 'mailto' %></em>
    </div>
  </section>
</section>
