<section class="step contact-body" id="contact-section" data-x="-540" data-y="320" style="display: none;">
  <h2 class="clearfix">
    <i class="ballon"></i>
    <strong>Fale Conosco</strong>
  </h2>
  <p>Nós queremos falar com você. Envie sua dúvida, crítica ou sugestão. Contamos com a sua participação para melhorar cada vez mais o <strong>TEDxRecife</strong>.</p>

  <form action="" method="post" class="contact-form clearfix">
    <fieldset>
      <label name="name">Graça</label>
      <input type="text" name="name" />

      <label name="email">Email</label>
      <input type="text" name="email" />

      <label name="message">Mensagem</label>
      <textarea name="message" rows="5"></textarea>
    </fieldset>

    <fieldset class="buttons">
      <input type="submit" value="Enviar" />
    </fieldset>
  </form>
</section>
