<section class="step subscription-body" id="subscription-section" data-x="570" data-y="390" style="display: none;">
  <h2 class="title clearfix">
    <i class="hand"></i>
    <strong class="raw">Inscrições</strong>
  </h2>
  <p>Tendo em vista a capacidade máxima de participantes do evento, selecionaremos pessoas com capacidade de materializar e disseminar as ideias e a comunidade durante e após o evento.</p>
  <p>Após o término das inscrições, entraremos em contato para informar individualmente os selecionados para assistir ao evento presencialmente.</p>
  <p>O <strong>TEDxRecife</strong> é fruto de um trabalaho colaborativo entre todos nós, pessoas e organizações que acreditam num mundo melhor. Por ser um evento sem fins lucrativos, será cobrada uma taxa de <strong>R$50,00</strong> aos selecionados, visando cobrir os custos do evento.</p>

  <form action="" method="post" class="subscription-form dark-form">
    <fieldset class="personal-infos">
      <label name="name">Graça</label>
      <input type="text" name="name" />

      <label name="email">Email</label>
      <input type="text" name="email" />

      <label name="cpf">CPF</label>
      <input type="text" name="cpf" />

      <label name="birthday">Nascimento</label>
      <input type="text" name="birthday" />

      <label name="corporation">Empresa/Universidade</label>
      <input type="text" name="corporation" />
    </fieldset>

    <fieldset class="additional-infos">
      <label name="message">Explique por que devemos selecioná-lo para participar do TEDxRecife:</label>
      <textarea type="text" name="message" rows="6" class="message-input"></textarea>

      <label name="social-networks">Cite endereços de redes sociais e sites que nos ajude a conhecê-lo melhor:</label>
      <input type="text" name="social-networks" />
    </fieldset>

    <fieldset class="buttons">
      <input type="submit" value="Enviar" />
    </fieldset>
  </form>
</section>
