/*
 *= require fonts
 */

@import "compass/css3/transform";
@import "compass/css3/animation";
@import "compass/typography/text/replacement";

body {
  font-family: "Glober";
}

h2, strong {
  color: #FF2B06;
}

.main {
  width: 800px;
  margin: 0 auto;
}

.menu {
  .menu-title {
    position: relative;
    top: 500px;
    text-align: center;
    color: transparent;
    line-height: 33px;
  }

  .menu-hint {
    line-height: 33px;
    text-align: center;
    opacity: 0;
  }

  .main-ball {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
  }
}

.banner {
  width: 300px;
  height: 219px;
  background: url('../img/banner.png') no-repeat;
  margin: 0 auto;
}

.concept {
  position: relative;
  left: 460px;
  top: -455px;

  ul {
    list-style: none;
    float: left;
  }

  .little-ball { opacity: 0; }

  .first-column {
    margin-top: 75px;

    .first-ball { @include transform(rotate(50deg)); }
    .last-ball { @include transform(rotate(215deg)); }
  }

  .middle-column {
    .third-ball { @include transform(rotate(-135deg)); }
    .last-ball { margin-top: 50px; }
  }

  .last-column {
    margin-top: 242px;

    .last-ball { @include transform(rotate(-35deg)); }
  }

  .little-ball { margin-bottom: 25px; }

  .dots-net {
    display: block;
    width: 300px;
    height: 400px;

    position: relative;
    top: -38px;
    left: -280px;
    z-index: -1;
  }
}

.concept-body {
  width: 700px;
  background: image-url('silent-revolutions.png') no-repeat right bottom;

  .title {
    margin-bottom: 30px;
    margin-top: -10px;

    $height: 56px;

    .logo {
      display: block;
      @include replace-text-with-dimensions('logo.png', 249, $height);
      float: left;
      margin-right: 10px;
    }

    .year {
      display: block;
      height: $height;
      font-size: 1.2em;
      font-weight: normal;
      float: left;
      margin: 0 5px;
    }

    .star {
      @include replace-text-with-dimensions('star.png', 16, 16);
      float: left;
      margin-top: 15px;
    }
  }
}
