<%= content_for :page_title, ' – Sobre o TED' %>

<% content_for :body_classes do %>
  dark-body about-ted
<% end %>

<section class="main">
  <h2>Sobre o <strong class="big-ted-logo">TED</strong></h2>

  <p>O <strong>TED</strong> surgiu em 1984 e já teve entre seus palestrantes Bill Clinton, Paul Simon, Bill Gates, Bono Vox, Al Gore, Michelle Obama e Philippe Starck.</p>

  <div class="video"></div>

  <p>Imagine poder viajar, por alguns minutos, pelo cérebro dos maiores pensadores do mundo.</p>

  <p>Essa é a proposta do <strong>TED</strong>, que surgiu em 1984 como uma conferência anual na Califórnia sobre tecnologia, entretenimento e design. Daí o nome.</p>

  <p>Já compartilharam suas idéias, no palco do evento, ícones de diferentes áreas como Bill Clinton, Paul Simon, Bill Gates, Bono Vox, Al Gore, Michelle Obama e Philippe Starck.</p>

  <p>Apesar dos mil lugares disponíveis na plateia, as inscrições para as palestras, com duração máxima de 18 minutos cada, esgotam-se um ano antes. Aqueles que não conseguem um ingresso assistem no site, que já conta com mais de 50 milhões de acessos, em 150 países.</p>

  <p>A cada ano a organização elege um pensador de destaque e repassa 100 mil dólares para que ele possa realizar “Um Desejo que Vai Mudar o Mundo”. E, com as 4 ações, TED Conference, TED Talks, TED Prize e TEDx, o mote “ideias que merecem ser espalhadas” vai ganhando vida.</p>

  <p>"Acreditamos apaixonadamente no poder das ideias para mudar atitudes, vidas e, em última instância, o mundo", dizem os organizadores do <strong>TED</strong>.</p>

  <p><strong>Nós também. E você?</strong></p>
</section>

<%= render 'shared/symbol' %>
