<%= content_for :page_title, ' – Sobre o TEDx' %>

<% content_for :body_classes do %>
  dark-body about-tedx
<% end %>

<section class="main">
  <h2>Sobre o <strong class="big-tedx-logo">TEDx</strong></h2>

  <p><strong>TEDx</strong> é um programa de eventos locais, auto-organizados que juntam pessoas para compartilhar uma experiência no estilo <strong>TED</strong>.</p>

  <iframe class="video" src="//www.youtube.com/embed/N-l1xtCMnpw?rel=0" frameborder="0" allowfullscreen></iframe>

  <p>Dar asas às grandes idéias para levá-las aos quatro cantos do mundo. Com esse objetivo, foi criado o <strong>TEDx</strong>. Um programa de eventos locais, organizado de forma independente, que reúne pessoas para compartilhar uma experiência no estilo <strong>TED</strong>.</p>

  <p>No <strong>TEDxRecife</strong>, vídeos de palestras (TEDTalks) e palestrantes ao vivo serão combinados para impulsionar conexões e discussões que terão alcance em nível local, regional e global.</p>

  <p>A <strong>TED Conference</strong> fornece guias gerais para o programa <strong>TEDx</strong>, mas estes eventos são organizados por um time de profissionais dedicados, não envolvendo o <strong>TED</strong>.</p>
</section>

<%= render 'shared/symbol' %>
