<%= content_for :page_title, ' – Sobre o TEDx Recife 2013' %>

<% content_for :body_classes do %>
  dark-body about-tedx-recife
<% end %>

<section class="main">
  <h2>Sobre o <strong class="tedx-recife-2013-logo">TEDx Recife 2013</strong></h2>

  <p>O <strong>TEDxRecife2013</strong> foi um evento sem ﬁns lucrativos, que reuniu 11 pensadores e realizadores das mais diversas áreas do conhecimento, como artes, tecnologia, ciência e empreendedorismo. Personagens que tiveram um papel ativo na construção da história do Recife compartilharam suas melhores ideias e experiências em palestras com duração entre 06 e 18 minutos, impulsionando discussões, reﬂexões e conexões de alcance local, regional e global.</p>

  <p>O <strong>TEDxRecife</strong> foi realizado no dia 30 de novembro de 2013, no Teatro Santa Isabel, e foi transmitido ao vivo para o mundo todo! Com o tema: “Rompendo Ideias com Ideais”, 11 palestrantes compartilharam com o público suas ideias que estão revolucionando a forma que vivemos, convivemos, trabalhamos e aprendemos.</p>
</section>

<section class="video-list clearfix">
  <div class="video-list-item belize-camara" style="width: 600px; height: 350px; margin-top: 102px;" data-href="https://www.youtube.com/watch?v=oyBIwgNu4HE">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 2em;">Promotor.com</h4>
        <h5 class="speaker" style="font-size: 1.3em;">Belize Câmara</h5>
      </div>
      <p class="description">Belize is a Prosecutor in the state of Pernambuco, passionate about the environmental cause, forerunner in the use of social media as an instrument to dialogue with society, and one of the responsible for the legal action that suspended the real estate project Novo Recife. In this talk she stands up for the importance of the partnership between population and the prosecutor in the construction of citizenship using social media as a platform of communication for change.</p>
    </div>
  </div>
  <div class="video-list-item guilherme-jordao" style="width: 430px; height: 200px; margin-top: 50px;" data-href="http://youtu.be/spc-HHF74vY">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.2em;">Cicloativismo: A alforria do caracol</h4>
        <h5 class="speaker" style="font-size: 1.1em;">Guilherme Jordão</h5>
      </div>
      <p class="description" style="font-size: 0.8em;">Cycle Activism: The Emancipation from the Snail Shell. Federal Public Defender, university professor, Guilherme used to live a common life until he started to think about the time that stuck traffic was taking from his life. He thought about a way of completelly changing his lifestyle and decided to adopt the bike. Today he calls himself a cycle activist and he is the general coordinator of the Metropolitan Association of Cyclists of the Greater Recife - Ameciclo.</p>
    </div>
  </div>
  <div class="video-list-item pedro-melo" style="width: 480px; height: 196px;" data-href="https://www.youtube.com/watch?v=EcnS02V33Oc">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.2em;">Troca por um Quadro: A Experiência através da Arte</h4>
        <h5 class="speaker" style="font-size: 1.2em;">Pedro Melo</h5>
      </div>
      <p class="description" style="font-size: 0.76em;">Designer and illustrator from Recife, Pedro Melo, age 25, draws since he was a child. He believes that drawing is the main way that he found to express himself. He created the project Exchange for a Picture. The proposal consists in exchanging a work of art for anything that can give him a good story. In his trip that lasted 23 days through Europe, Pedro got paint cans, a haburguer with french fries, tours and even accomodation. In his backpack: stylet, ten color pens, some wooden frames and the desire to make it different. Back to Brazil, he goes on with his idea and spreads his colors.</p>
    </div>
  </div>
  <div class="video-list-item gustavo-maia" style="height: 300px; width: 300px; margin-left: 50px;" data-href="http://youtu.be/4Lwu26W9Uk0">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.3em;">Para Mudar uma Nação: Colaboração</h4>
        <h5 class="speaker" style="font-size: 1.1em;">Gustavo Maia</h5>
      </div>
      <p class="description" style="font-size: 0.78em;">To Change a Nation: Gustavo Maia is a Collaboration Advertiser and Digital Marketing specialist with focus on politics. Idealizer of a project that consists of a social network in which people supervise, propose and evaluate solutions to problems in their cities, Gustavo is also a co-founder of Colab. Colab won the prize App My City, during the urbanism event News Cities Summits as the best urban app in the world. This app improves the ever growing integration between the citizens and the public authorities guiding all benefits to the common good.</p>
    </div>
  </div>
  <div class="video-list-item flavia-moura" style="height: 300px; width: 400px;" data-href="http://youtu.be/ZMFVlAZscLY">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.8em;">O planeta é meu!</h4>
        <h5 class="speaker" style="font-size: 1.2em;">Flávia Moura</h5>
      </div>
      <p class="description" style="font-size: .81em;">Flávia is graduated in Industrial Chemistry has been working on the industrial sector for more than 22 years implementing management programs and cultural changes within the organisations. Currently she is managing a Program of Social and Environmental Responsibility where she found out her true passion. Her greater goal is to engage people within a shared purpose. It is with this perspective that she created a project of Selective Collection of Oil and Frying together with the civil society, saving a lot of hydric resources. Water, our main source of life, is her main focused today and she share with us in this Talk how she is transforming our own reality and helping to save our planet.</p>
    </div>
  </div>
  <div class="video-list-item rafa-mattos" style="height: 230px; width: 400px;" data-href="http://youtu.be/sNxdIlU4DQE">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.4em;">Plante Amor e Colha o Bem</h4>
        <h5 class="speaker" style="font-size: 1.1em;">Rafa Mattos</h5>
      </div>
      <p class="description" style="font-size: .74em; margin-top: -4px;">Seed Love and Harvest Good Graphic artist born and raised in the suburbs of Rio de Janeiro, he came to live in Recife by love. Character of remarkable presence, wide smile and open heart, he lives his life by one guiding thought: love is the master feeling. He became known by spreading boards with drawings and phrases in the streets of Recife, encouraging people to "reflect about love". His works are produced from a crazy mining process, by someone who sees garbage as raw material, and from that art catharsis emerged the idea "Seed Love, Harvest Good", that wasn't born as a project, but turned up to be the project of his life. Rafa is today popularly known as "the guy of love".</p>
    </div>
  </div>
  <div class="video-list-item andrea-souza" style="height: 180px; width: 420px;" data-href="http://youtu.be/3Fssk1iPZqI">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.2em;">Cinoterapia, os Cães Doutores da Alegria</h4>
        <h5 class="speaker" style="font-size: 1.1em;">Andrea Souza</h5>
      </div>
      <p class="description" style="font-size: 0.5em;">Occupational therapist, in 2006 she started to study the benefits given by the use of animals in therapeuthical interventions, starting the use of this means in her practices with children in the garths of the Bar„o de Lucena hospital. In 2010, she implemented the Therapy Assisted by Animals in a Psychosocial Attention Center (CAPS) in Recife, turning EspaÁo Livremente the first CAPS inBrazil having this kind of Therapeutical Resource, adopting the Program of the Resident Dog. In the year of 2012, she managed to get the Therapy Assisted by Animals inside the pediatric infirmaries in Barão de Lucena hospital, creating the project Doctor Dogs, highlighting the hospital as a pioneer in the northeastern region offering this assistance, that aims primarily to a greater humanization of the healthcare services.</p>
    </div>
  </div>
  <div class="video-list-item renato-kyiama" style="width: 505px; height: 225px; float: right;" data-href="http://youtu.be/3qia5j5uT0c">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.3em;">Impact business generation</h4>
        <h5 class="speaker" style="font-size: 1.1em;">Renato Kyiama</h5>
      </div>
      <p class="description" style="font-size: .74em;">Graduated in Business Administration by the University of São Paulo, with studies in Entrepreneurship at the Babson College (Boston, USA). Acts in the creation and acceleration of social business since 2007. He was mentor and counselor in many startups and participated in the development of the main programs of Artemisia. Conducted field researches about market strategies that could reduce poverty in Brazil, India and Latin America. He is one of the facilitators of processes of innovation, acting as a collaborator in the making of Artemisia and consultant in many organisations (SENAC, Banco Central, FIA e GIFE). At age 16 he started to undertake projects related to the youth and urban culture. He was also director at Artemisia and today he acts as the Institutional Development Director of this organisation.</p>
    </div>
  </div>
  <div class="video-list-item leonardo-cisneiros" style="width: 615px; height: 325px; position: relative; top: -116px; left: 142px;" data-href="http://youtu.be/QZtIT3-BN2w">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.3em;">Direitos urbanos, a cidade é nossa!</h4>
        <h5 class="speaker" style="font-size: 1.1em;">Leonardo Cisneiros</h5>
      </div>
      <p class="description">Leonardo is a Filosophy professor at the Rural Federal University of Pernambuco and one of the 14 thousand members of Urban Rights Recife, a group that started on the social networks as a place to bring together people interested in discussing the targets of Recife and was able to "get off the sofa" to occupy the streets and fight for a more human and fair city.</p>
    </div>
  </div>
</section>

<%= render 'shared/symbol' %>
