<% hide = false unless local_assigns.has_key? :hide %>

<section class="step subscription-body content-section col-md-12" id="subscription-section" data-x="570" data-y="395" style="<%= hide ? 'display: none;' : '' %>">
  <h2 class="title clearfix">
    <i class="hand"></i>
    <strong class="raw">Inscrições</strong>
  </h2>
  <p>Tendo em vista a capacidade máxima de participantes do evento, selecionaremos pessoas com capacidade de materializar e disseminar as ideias e a comunidade durante e após o evento.</p>
  <p>Após o término das inscrições, entraremos em contato para informar individualmente os selecionados para assistir ao evento presencialmente.</p>
  <p>O <strong>TEDxRecife</strong> é fruto de um trabalho colaborativo entre todos nós, pessoas e organizações que acreditam num mundo melhor. Por ser um evento sem fins lucrativos, será cobrada uma taxa de <strong>R$50,00</strong> aos selecionados, visando cobrir os custos do evento.</p>
  <p>O evento será realizado no dia <strong>16 de dezembro de 2014</strong>, das 15 às 22 horas, no <strong>parque Dona Lindu</strong>.</p>
</section>
