<section class="step concept-body" id="concept-section" data-x="610" data-y="-380" style="display: none;">
  <h1 class="title clearfix">
    <span class="logo">TEDx Recife</span>
    <i class="star"></i>
    <strong class="year">2014</strong>
    <i class="star"></i>
  </h1>
  <p>Com o tema Revoluções Silenciosas, o <strong>TEDxRecife 2014</strong> objetiva identificar as atitudes e mudanças que tem sua gênese no indivíduo, muitas vezes pequenas ações silenciosas e pessoais que quando percebidas por outros ao redor têm potência para transformar a cidade e a sociedade.</p>

  <p>A revolução é a luta pela mudança. É rever, revolver, remexer, remoer mas nunca retroceder. É sair de uma determinação, de um conceito, de um vício, de uma forma de viver anterior, para algo novo e quase sempre turvo já que não é possível saber o exato rumo e impacto dessas mudanças. É preciso uma adesão profunda de corpo e alma do indivíduo para que haja uma revolução consciente e uma mudança real e efetiva. O foco não pode ser o convencimento da massa, mas da pessoa. A massa é consequência das mudanças pessoais profundas.</p>

  <p>Queremos tirar do foco as macro transformações causadas pelas novas tecnologias, pelas grandes ideias ou por grandes projetos. Colocaremos em pauta o poder do micro, do convencimento real do indivíduo por uma causa, estimulando cada vez mais as revoluções pessoais que primeiro mudam o indivíduo para depois influenciar a sociedade à sua volta.</p>

  <p>Aquelas revoluções que começam com pequenas atitudes no dia a dia, tímidas e discretas, mas vão ganhando força e acabam por inspirar e mudar muito além do seu âmbito inicial.</p>

  <p>Essas são as <strong>Revoluções Silenciosas</strong>. Esse é o <strong>TEDxRecife 2014</strong>.</p>

  <p><strong>E você está convidado!</strong></p>
</section>
