$font-family-sans-serif: "Glober";
$font-size-base: 16px;
$headings-font-weight: bold;
$font-size-h2: 24px;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "normalize";
@import "landing";
@import "bounce";
@import "tooltipster";
@import "tooltipster-themes/tooltipster-light";
