/*
 *= require fonts
 */

@import "compass/css3/transform";
@import "compass/typography/text/replacement";
@import "compass/css3/images";
@import "compass/css3/border-radius";

body {
  font-family: "Glober";

  &.dark-body {
    background-image: image-url('dark-balls.png');
    background-position: -300px 0;
    color: white;
    padding-bottom: 80px;

    .main {
      width: 700px;
      margin: 0 auto;
      padding-top: 80px;
    }

    .global-nav {
      .global-nav-item {
        &.ted-logo {
          a {
            background-image: image-url('ted-logo-nav-white.png');
            background-position-y: -1px;
          }
        }

        &.tedx-logo {
          a {
            background-image: image-url('tedx-logo-nav-white.png');
            background-position-y: -1px;
          }
        }

        &.tedx-recife-logo {
          a {
            background-position-y: -3px;
          }
        }
      }
    }
  }
}

.symbol {
  margin: 0 auto;
  margin-top: 80px;
  width: 100px;
  height: 100px;

  a {
    display: block;
    @include replace-text-with-dimensions('symbol.png', 100, 100);
  }
}

.about-ted {
  .big-ted-logo {
    display: inline-block;
    @include replace-text-with-dimensions('big-ted-logo.png', 84, 31);
  }

  .video {
    width: 600px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }
}

.about-tedx {
  .big-tedx-logo {
    display: inline-block;
    @include replace-text-with-dimensions('big-tedx-logo.png', 70, 21);
  }

  .video {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    display: block;
  }
}

.about-tedx-recife {
  .tedx-recife-2013-logo {
    display: inline-block;
    @include replace-text-with-dimensions('big-tedx-recife-logo.png', 163, 17);
  }

  .video-list {
    .video-list-item {
      cursor: pointer;
      background: image-url('video-bakground.jpg');
      float: left;
      border: solid 1px black;
      margin: 2px;
      overflow: hidden;

      .overlay.open {
        height: 100%;
        width: 100%;

        .cssgradients & {
          @include background-image(linear-gradient(top, rgba(0,0,0,0) 20%, #000000));
        }
      }
      .header { margin: 10px; }
      .talk {
        margin: 0;
        color: #FF2B06;
      }
      .speaker {
        margin: 0;
        font-weight: normal;
      }
      .description {
        display: none;
        margin: 10px;
      }

      &.belize-camara { background-image: image-url('speakers/belize-camara.jpg') }
      &.guilherme-jordao { background-image: image-url('speakers/guilherme-jordao.jpg') }
      &.rafa-mattos { background-image: image-url('speakers/rafa-mattos.jpg') }
      &.pedro-melo { background-image: image-url('speakers/pedro-melo.jpg') }
      &.gustavo-maia { background-image: image-url('speakers/gustavo-maia.jpg') }
      &.flavia-moura { background-image: image-url('speakers/flavia-moura.jpg') }
      &.andrea-souza { background-image: image-url('speakers/andrea-souza.jpg') }
      &.renato-kyiama { background-image: image-url('speakers/renato-kyiama.jpg') }
      &.leonardo-cisneiros { background-image: image-url('speakers/leonardo-cisneiros.jpg') }
    }
  }
}

.global-nav {
  $width: 370px;

  position: fixed;
  z-index: 10;
  margin-left: -$width/2;
  left: 50%;
  width: $width;
  text-align: center;

  .global-nav-list {
    padding: 0;
    margin: 0;

    .global-nav-item {
      float: left;
      padding: 0 5px;

      &.ted-logo {
        a {
          display: block;
          @include replace-text-with-dimensions('ted-logo-nav.png', 79, 46);
        }
      }

      &.tedx-logo {
        a {
          display: block;
          @include replace-text-with-dimensions('tedx-logo-nav.png', 79, 46);
        }
      }

      &.tedx-recife-logo {
        margin-left: -30px;

        a {
          display: block;
          @include replace-text-with-dimensions('tedx-recife-logo-nav.png', 211, 48);
          background-position-y: -2px;
        }
      }
    }
  }
}

.back-button {
  display: none;

  $width: 70px;

  position: fixed;
  z-index: 10;
  margin-left: -$width/2;
  left: 50%;
  width: $width;
  text-align: center;
  bottom: 10px;

  text-decoration: none;
  color: #f95e4e;

  &:hover { color: #9e2515; }

  &:before {
    display: block;
    width: 20px;
    height: 20px;
    background-image: image-url('mini-ballon.png');
    content: '';
    float: left;
    margin-top: -4px;
  }
}

h2, strong {
  color: #FF2B06;
}

form {
  label {
    font-style: italic;
    display: block;
  }

  .input {
    background-color: #F9E5E4;
    border: none;
    padding: 5px 0 5px 5px;
    width: 99%;
    margin-bottom: 5px;
    height: 15px;

    font-weight: bold;
    color: #FF2B06;
  }

  textarea {
    @extend .input;
    height: auto !important;
  }

  .buttons {
    float: right;
    margin-top: 10px;

    .btn-submit {
      position: relative;
      font-family: "Glober";
      border: solid 1px #FF2B06;
      background-color: white;
      color: #FF2B06;
      padding: 4px 10px 2px 10px;
    }
  }

  &.dark-form {
    background-color: #FF2B06;
    padding: 15px;

    label { color: white; }
  }
}

.contact-form {
  width: 600px;
}

.subscription-form {
  width: 690px;
  padding: 0 15px !important;
  font-size: 15px;

  $triangleDimension: 20px;
  &:before {
    border-top: $triangleDimension solid white;
    border-right: $triangleDimension solid transparent;
    display: block;
    content: "";
    position: relative;
    left: -15px;
    top: 0;
    width: 0;
    height: 0;
  }

  $triangleDimension: 25px;
  &:after {
    border-bottom: $triangleDimension solid white;
    border-left: $triangleDimension solid transparent;
    display: block;
    content: "";
    position: relative;
    width: 0;
    height: 0;
    top: 0;
    left: 680px;
  }

  .personal-infos {
    width: 320px;
    float: left;
    padding-right: 19px;
    margin-right: 20px;
    border-right: dashed 1px white;
  }

  .additional-infos {
    width: 320px;

    .message-input {
      margin-bottom: 29px;
    }
  }

  .buttons {
    margin-right: 7px;
    margin-bottom: -15px;
    margin-top: 5px;

    input[type=submit] {
      background-color: #9E2515;
      border: 1px solid #9E2515;
      color: white;
      font-style: italic;
    }
  }
}

.main {
  width: 800px;
  margin: 0 auto;
}

.menu {
  .menu-title {
    font-size: 21px;
    position: relative;
    top: 1450px;
    text-align: center;
    color: transparent;
    line-height: 33px;
  }

  .menu-hint {
    line-height: 33px;
    text-align: center;
    font-style: italic;
    color: #f95e4e;
    opacity: 0;
  }

  .main-ball {
    display: block;
    width: 101px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
  }
}

.banner {
  position: relative;
  z-index: -1;
  width: 300px;
  height: 219px;
  background: image-url('banner.png') no-repeat;
  margin: 0 auto;
}

.ball-section {
  position: relative;
  z-index: -1;

  ul {
    list-style: none;
    float: left;
  }

  .little-ball {
    opacity: 0;
    margin-bottom: 25px;
  }

  .dots-net {
    display: block;
    position: relative;
    z-index: -1;
  }
}

.concept {
  @extend .ball-section;

  left: 460px;
  top: -455px;

  .first-column {
    margin-top: 75px;

    .first-ball .peity { @include transform(rotate(50deg)); }
    .last-ball {
      margin-top: 33px;
      .peity { @include transform(rotate(230deg)); }
    }
  }

  .middle-column {
    margin-top: 6px;

    .first-ball {
      margin-top: 5px;
      margin-bottom: 20px;
      .peity { @include transform(rotate(-36deg)); }
    }
    .third-ball .peity { @include transform(rotate(-135deg)); }
    .last-ball { margin-top: 50px; }
  }

  .last-column {
    margin-top: 251px;
  }

  .dots-net {
    width: 300px;
    height: 400px;

    top: -38px;
    left: -280px;
  }
}

.concept-body {
  width: 700px;
  background: image-url('silent-revolutions.png') no-repeat right bottom;

  .title {
    margin-top: -10px;
    height: 45px;

    $height: 46px;

    .logo {
      display: block;
      @include replace-text-with-dimensions('logo.png', 205, $height);
      float: left;
      margin-right: 10px;
    }

    .year {
      display: block;
      height: $height;
      font-size: 1em;
      font-weight: normal;
      float: left;
      margin: 0 5px;
    }

    .star {
      @include replace-text-with-dimensions('star.png', 16, 16);
      float: left;
      margin-top: 9px;
    }

  }

  .last-call { margin-bottom: 0; }
}

.executor {
  @extend .ball-section;

  top: -850px;
  left: -110px;
  height: 300px;
  width: 500px;

  .single-column {
    margin-top: 182px;

    &.middle {
      .peity { @include transform(rotate(89deg)); }
    }

    &.last {
      .peity { @include transform(rotate(90deg)); }
    }
  }

  .first-column {
    .middle-ball .peity { @include transform(rotate(179deg)); }
  }

  .middle-column {
    .first-ball .peity { @include transform(rotate(-50deg)); }
    .last-ball .peity { @include transform(rotate(54deg)); }
  }

  .dots-net {
    width: 450px;
    height: 285px;
    right: -105px;
    top: -280px;
  }
}

.executor-body {
  width: 700px;

  .title { margin-bottom: 16px; }

  .flag {
    @include replace-text-with-dimensions('flag.png', 61, 55);
    float: left;
    margin-left: -61px;
    margin-top: -40px;
  }

  .organizers {
    .organizers-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .organizer-item {
        float: left;
        margin-bottom: 15px;
        font-size: .9em;

        .avatar {
          width: 60px;
          height: 60px;
          float: left;
          margin: 0;
          margin-right: 10px;

          .borderradius & { @include border-radius(30px); }
        }

        .bio { display: none; }

        .alfredo-junior {
          @include replace-text('organizers/alfredo-junior.jpg');
          background-position: -6px -1px;
        }

        .daniella-marcusso {
          @include replace-text('organizers/daniella-marcusso.jpg');
          background-position: -16px 0px;
        }

        .gleyce-ramos {
          @include replace-text('organizers/gleyce-ramos.jpg');
          background-position: -5px -11px;
        }
      }
    }
  }

  .supporters {
    margin-top: 5px;

    .supporter-row { margin-bottom: 15px; }

    .title {
      color: #FF2B06;
      width: 85px;
      border-right: 2px solid #CCCCCC;
      text-align: right;
      float: left;
      padding: 25px 15px;
      padding-left: 0;
      margin: 0;
    }

    .supporters-list {
      width: 450px;
      float: left;
      list-style: none;
      margin: 0;
      margin-top: 6px;

      &.chegados { margin-top: 10px; }
      &.padrinhos { margin-top: 6px; }

      .logo {
        display: block;
        float: left;
        margin-right: 30px;
      }

      .hub-logo {
        @extend .logo;
        @include replace-text-with-dimensions('sponsors/hub-logo.png', 131, 61);
      }

      .albie-logo {
        @extend .logo;
        @include replace-text-with-dimensions('sponsors/albie-logo.png', 111, 41);
        margin-top: 6px;
      }

      .eloquent-logo {
        @extend .logo;
        @include replace-text-with-dimensions('sponsors/eloquent-logo.png', 104, 46);
        margin-top: 13px;
      }

      .cesar-logo {
        @extend .logo;
        @include replace-text-with-dimensions('sponsors/cesar-logo.png', 92, 55);
      }

      .dezoito-minutos-logo {
        @extend .logo;
        @include replace-text-with-dimensions('sponsors/18-minutos-logo.png', 69, 62);
      }

      .aba-logo {
        @extend .logo;
        @include replace-text-with-dimensions('sponsors/aba-logo.png', 124, 47);
      }

      .vincular-logo {
        @extend .logo;
        @include replace-text-with-dimensions('sponsors/vincular-logo.png', 44, 46);
      }

      .tempest-logo {
        @extend .logo;
        @include replace-text-with-dimensions('sponsors/tempest-logo.png', 124, 47);
      }
    }
  }
}

.contact {
  @extend .ball-section;

  top: -775px;
  left: -70px;
  height: 300px;
  width: 500px;

  .single-column {
    .last-ball .peity { @include transform(rotate(90deg));}
  }

  .first-column {
    .first-ball .peity { @include transform(rotate(-90deg)); }
  }

  .middle-column {
    .first-ball .peity { @include transform(rotate(-90deg)); }
  }

  .dots-net {
    width: 450px;
    height: 250px;
    right: -25px;
    top: -320px;
  }
}

.contact-body {
  width: 700px;

  .ballon {
    @include replace-text-with-dimensions('ballon.png', 51, 55);
    float: left;
    margin-left: -51px;
    margin-top: -40px;
  }

  .success-message {
    width: 600px;
    height: 290px;

    .message {
      display: block;
      text-align: center;
      margin-top: 60px;
    }
  }

  .press {
    margin-top: 20px;
    width: 220px;
    padding: 10px;
    background-color: #9E2515;
    color: white;
    margin-left: 180px;

    .title {
      margin: 0;
      margin-bottom: 10px;
      padding-top: 10px;
    }

    .press-icon {
      @include replace-text-with-dimensions('press.png', 32, 31);
      float: left;
      margin-top: -10px;
    }

    .mailto {
      color: white;
      text-decoration: none;
    }

    .infos { font-size: .9em; }
  }
}

.subscription {
  @extend .ball-section;

  top: -1040px;
  left: 410px;
  height: 300px;
  width: 500px;

  .first-column {
    .first-ball .peity { @include  transform(rotate(90deg)); }
    .middle-ball .peity { @include  transform(rotate(131deg)); }
  }

  .second-column {
    .first-ball .peity { @include  transform(rotate(90deg)); }
    .last-ball .peity { @include  transform(rotate(45deg)); }
  }

  .dots-net {
    width: 450px;
    height: 250px;
    right: 30px;
    top: -326px
  }
}

.subscription-body {
  width: 720px;

  .title {
    margin-bottom: 0;
    height: 50px;
    margin-left: 275px;
    margin-top: 0;

    .raw {
      padding-top: 26px;
      display: block;
      float: right;
    }
  }

  .hand {
    @include replace-text-with-dimensions('hand.png', 51, 55);
    float: left;
    margin-left: 290px;
  }

  p { font-size: 15px; }

  .success-message {
    width: 600px;
    height: 290px;

    .message {
      display: block;
      text-align: center;
      margin-top: 60px;
    }
  }
}

.tooltipster-base {
  width: 600px !important;

  .bio-tooltip { line-height: 18px; }
}
