<nav class="global-nav">
  <ul class="global-nav-list clearfix">
    <li class="global-nav-item ted-logo">
      <%= link_to 'TED', 'about-ted.html' %>
    </li>
    <li class="global-nav-item tedx-logo">
      <%= link_to 'TEDx', 'about-tedx.html' %>
    </li>
  </ul>
</nav>
