---
title: TEDx Recife 2014 – Sobre o TEDx Recife 2013
---

<% content_for :body_classes do %>
  dark-body
<% end %>

<section class="main">
  <h2>Sobre o <strong class="tedx-recife-2013-logo">TEDx Recife 2013</strong></h2>

  <p>O <strong>TEDxRecife2013</strong> foi um evento sem ﬁns lucrativos, que reuniu 11 pensadores e realizadores das mais diversas áreas do conhecimento, como artes, tecnologia, ciência e empreendedorismo. Personagens que tiveram um papel ativo na construção da história do Recife compartilharam suas melhores ideias e experiências em palestras com duração entre 06 e 18 minutos, impulsionando discussões, reﬂexões e conexões de alcance local, regional e global.</p>

  <p>O <strong>TEDxRecife</strong> foi realizado no dia 30 de novembro de 2013, no Teatro Santa Isabel, e foi transmitido ao vivo para o mundo todo! Com o tema: “Rompendo Ideias com Ideais”, 11 palestrantes compartilharam com o público suas ideias que estão revolucionando a forma que vivemos, convivemos, trabalhamos e aprendemos.</p>
</section>

<h1 class="symbol"><%= link_to 'TEDx Recife 2014', 'index.html' %></h1>
