---
title: HTML5 Boilerplate Middleman
---

<div id="impress">
  <section  id="main-section" class="step main clearfix" data-x="0" data-y="0">
    <div class="menu">
      <h2 class="menu-title">Conceito 2014</h2>
      <svg class="main-ball"></svg>
      <p class="menu-hint">passe o mouse</p>
    </div>
    <%= partial 'concept/animation' %>
    <div class="banner"></div>
  </section>
  <%= partial 'concept/body' %>
</div>
