<div class="concept clearfix">
  <ul class="first-column">
    <li class="little-ball first-ball">
      <span class="pie" data-fill='["#9D2016", "#FD1D07"]'>4,7</span>
    </li>
    <li class="little-ball">
      <span class="pie" data-fill='["#9D2016", "#FD1D07"]'>1/2</span>
    </li>
    <li class="little-ball last-ball">
      <span class="pie" data-fill='["#FD1D07", "#F9E5E4", "#9D2016"]'>4,2,4</span>
    </li>
  </ul>
  <ul class="middle-column">
    <li class="little-ball">
      <span class="pie" data-fill='["#F9E5E4", "#FF2B06", "#9E2515", "#F95E4E"]'>4,2,1,2</span>
    </li>
    <li class="little-ball">
      <span class="pie" data-fill='["#FD1D07", "#F75A4E"]'>4,7</span>
    </li>
    <li class="little-ball third-ball">
      <span class="pie" data-fill='["#F75A4E", "#FD1D07"]'>3/4</span>
    </li>
    <li class="little-ball last-ball">
      <span class="pie last-ball" data-fill='["#FEBBB4"]'>10</span>
    </li>
  </ul>
  <ul class="last-column">
    <li class="little-ball last-ball">
      <span class="pie" data-fill='["#F9E5E4", "#9D2016", "#FD1D07"]'>1,8,1</span>
    </li>
  </ul>
  <svg class="dots-net"></svg>
</div>
